* {
	margin: 0;
	padding: 0;
}
body {
	background: #f8f9fa !important;
}
main {
	width: 1240;
	margin: 0 auto;
}
.container {
	width: 1240 !important;
	margin: 0 auto !important;
}
.container-white {
	background-color: white;
	border-radius: 0.6rem;
	padding-bottom: 2rem !important;
	padding-top: 2rem !important;
	margin-bottom: 1rem !important;
}
/* -----------------------header-------------------- */
.navbar-collapse {
	z-index: 15;
}
.spikes {
	position: relative;
	background: #f8f9fa;
	height: 14vh;
}
.spikes::after {
	content: "";
	position: absolute;
	right: 0;
	left: -0%;
	top: 100%;
	z-index: 0;
	display: block;
	height: 30px;
	background-size: 30px 100%;
	background-image: linear-gradient(135deg, #f8f9fa 25%, transparent 25%),
		linear-gradient(225deg, #f8f9fa 25%, transparent 25%);
	background-position: 0 0;
}
header .navbar-brand {
	color: #7608b9 !important;
	font-family: "Pacifico", cursive;
	font-size: 30px;

	z-index: 20;
}
.container-empaquetado img {
	width: 30% !important;
}
.container-empaquetado p,
svg {
	font-size: 1.5rem;
}
.container-empaquetado svg {
	background-color: yellowgreen;
	border-radius: 50%;
}
.container-mid {
	background: #7608b9;
	padding: 1rem;
	border-radius: 3%;
	color: white;
	margin: 0 auto !important;
	margin-bottom: 1rem !important;
	margin-left: 1rem !important;
	margin-right: 1rem !important;
}

.nav-icon {
	margin-left: 10%;
}

nav ul {
	font-size: 19px;
}

.jumbotron {
	background: #7608b9 !important;
	color: whitesmoke;
}

.img-jumbotron {
	width: 80%;
	margin: auto;
	/* ----------------------section--------------------- */
}
h2 {
	text-align: center;
}
article img {
	width: 30%;
	margin: auto;
}
article,
h1,
p {
	text-align: center;
}
/*                  footer           */

.spikes-white {
	position: relative;
	background: #f8f9fa;
	height: 1vh;
}
.spikes-white::after {
	content: "";
	position: absolute;
	right: 0;
	left: -0%;
	top: 100%;
	z-index: 0;
	display: block;
	height: 30px;
	background-size: 30px 100%;
	background-image: linear-gradient(135deg, #f8f9fa 25%, transparent 25%),
		linear-gradient(225deg, #f8f9fa 25%, transparent 25%);
	background-position: 0 0;
}
hr {
	background-color: white;
}
footer h2,
h1 {
	color: white;
	font-family: "Pacifico", cursive;
	font-size: 50px;
}
.redesSociales img {
	width: 6%;
}
.btn {
	text-align: center;
}
.section-need {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.section-need h6 {
	color: gray;
	margin-top: 1rem !important;
}
.section-need h6,
h3 {
	text-align: center;
}
h6 {
	color: gray;
}

/* -------------------celulares ------------- */

@media only screen and (max-width: 600px) {
	.nav-icon {
		margin-left: 0;
	}
}
@media only screen and (max-width: 1011px) {
	.redesSociales img {
		width: 10%;
	}
}
@media only screen and (max-width: 977px) {
	.container-empaquetado img {
		width: 70% !important;
		max-width: 999px;
	}
}
