* {
	margin: 0;
	padding: 0;
}

/* -----------------------header-------------------- */
.navbar-collapse {
	z-index: 15;
}
.spikes {
	position: relative;
	background: #f8f9fa;
	height: 14vh;
}
.spikes::after {
	content: "";
	position: absolute;
	right: 0;
	left: -0%;
	top: 100%;
	z-index: 0;
	display: block;
	height: 30px;
	background-size: 30px 100%;
	background-image: linear-gradient(135deg, #f8f9fa 25%, transparent 25%),
		linear-gradient(225deg, #f8f9fa 25%, transparent 25%);
	background-position: 0 0;
}
header .navbar-brand {
	color: #7608b9 !important;
	font-family: "Pacifico", cursive;
	font-size: 30px;

	z-index: 20;
}

.nav-icon {
	margin-left: 10%;
}

nav ul {
	font-size: 19px;
}

.jumbotron {
	background: #7608b9 !important;
	color: whitesmoke;
}

/* ----------------------section--------------------- */
.img-jumbotron {
	width: 80%;
	margin: auto;
}
h2 {
	text-align: center;
}
article img {
	width: 30%;
	margin: auto;
}
article,
h1,
p {
	text-align: center;
}
/*                  footer           */

.spikes-white {
	position: relative;
	background: white;
	height: 1vh;
}
.spikes-white::after {
	content: "";
	position: absolute;
	right: 0;
	left: -0%;
	top: 100%;
	z-index: 0;
	display: block;
	height: 30px;
	background-size: 30px 100%;
	background-image: linear-gradient(135deg, white 25%, transparent 25%),
		linear-gradient(225deg, white 25%, transparent 25%);
	background-position: 0 0;
}
hr {
	background-color: white;
}
footer h2 {
	color: white;
	font-family: "Pacifico", cursive;
	font-size: 50px;
}
.redesSociales img {
	width: 6%;
}
/* -------------------celulares ------------- */

@media only screen and (max-width: 600px) {
	.nav-icon {
		margin-left: 0;
	}
}
