* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background: #f8f9fa !important;
}

.container {
	width: 1240 !important;
	margin: 0 auto !important;
}
.container-white {
	background-color: white;
	border-radius: 0.6rem;
	padding-bottom: 3rem !important;
	padding-top: 2rem !important;
	margin-bottom: 1rem !important;
}
/* -----------------------header-------------------- */
.navbar-collapse {
	z-index: 20;
}
.spikes {
	position: relative;
	background: #f8f9fa;
	height: 14vh;
}
.spikes::after {
	content: "";
	position: absolute;
	right: 0;
	left: -0%;
	top: 100%;
	z-index: 0;
	display: block;
	height: 30px;
	background-size: 30px 100%;
	background-image: linear-gradient(135deg, #f8f9fa 25%, transparent 25%),
		linear-gradient(225deg, #f8f9fa 25%, transparent 25%);
	background-position: 0 0;
}
header .navbar-brand {
	color: #7608b9 !important;
	font-family: "Pacifico", cursive;
	font-size: 30px;
}

.nav-icon {
	margin-left: 10%;
}

nav ul {
	font-size: 19px;
}

/* ----------------------section--------------------- */
.jumbotron {
	background: #7608b9 !important;
	color: whitesmoke;
}
.jumbotron p,
h1 {
	font-size: 1.4rem;
}
.section-jumbotron article {
	margin: auto;
}
.section-jumbotron img {
	width: 90%;
}
.section-empaquetado img {
	width: 30% !important;
	z-index: 0 !important ;
}
.section-empaquetado p,
svg {
	font-size: 1.5rem;
}
.section-empaquetado article {
	margin: auto;
}
.section-empaquetado svg {
	background-color: yellowgreen;
	border-radius: 50%;
}

.section-mid {
	background: #7608b9;
	padding: 0.8rem;
	border-radius: 0.6rem;
	color: white;
	margin: 0 auto !important;
	margin-left: 2rem !important;
	margin-right: 2rem !important;
}
.section-mid div {
	margin: auto;
}
.section-need {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.section-need h6 {
	color: gray;
	margin-top: 1rem !important;
}
.section-need h6,
h3 {
	text-align: center;
}
.section-need h3 {
	padding-bottom: 2rem;
}
h6 {
	color: gray;
}
.section-together h2 {
	padding-bottom: 2rem;
}
.section-mid p {
	padding-top: 1rem;
	font-size: 1.4rem;
	width: 100%;
	margin: auto;
}

h2 {
	text-align: center;
}
article img {
	width: 30%;
	margin: auto;
}
article,
h1,
p {
	text-align: center;
}
input {
	background: #f8f9fa !important;
}
/*                  footer           */
footer a {
	cursor: default;
	color: white;
}

.spikes-white {
	position: relative;
	background: #f8f9fa;
	height: 5vh;
}
.spikes-white::after {
	content: "";
	position: absolute;
	right: 0;
	left: -0%;
	top: 100%;
	z-index: 0;
	display: block;
	height: 30px;
	background-size: 30px 100%;
	background-image: linear-gradient(135deg, #f8f9fa 25%, transparent 25%),
		linear-gradient(225deg, #f8f9fa 25%, transparent 25%);
	background-position: 0 0;
}
hr {
	background-color: white;
}
footer h2 {
	color: white;
	font-family: "Pacifico", cursive;
	font-size: 1.9rem;
}
.redesSociales img {
	width: 6%;
}
.btn {
	margin: auto;
}

/* -------------------celulares ------------- */

@media only screen and (max-width: 600px) {
	.nav-icon {
		margin-left: 0;
	}
	.section-jumbotron p,
	h1 {
		font-size: 0.1rem;
	}
	.section-jumbotron img {
		width: 100%;
	}

	.section-mid div {
		margin: auto;
	}

	.section-mid p {
		font-size: 14px;
	}
}
@media only screen and (max-width: 977px) {
	.section-empaquetado img {
		width: 70% !important;
		max-width: 999px;
	}
	.section-mid img {
		width: 60%;
	}
	.section-jumbotron p,
	h1 {
		font-size: 1rem;
	}
}
@media only screen and (max-width: 1011px) {
	.redesSociales img {
		width: 10%;
	}
}
